*{
    box-sizing: border-box;
}
body{
    padding: 2px;
    margin:0%;
    margin-top: 30px;
}
section{
    
    justify-content: center ;
    display: flex;
    height: 87px;
    
}

div{
    border: 4px solid black;
    width: 150px;
    
}
#odd>div:nth-child(odd){
    background-color: rgb(0, 0, 0);
}
#even>div:nth-child(even){
    background-color: black;
}
